.blue-image-bg {
    background: url('../img/blue-bg-w-dots.jpg');
    color: #fff;
}

.white-image-bg {
    overflow: hidden;
    position: relative;
    background: url('../img/white-bg-dots.jpg');
}

.problems-section .card a {
    color: #333;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    font-size: 80px;
}

.problems-section .card a:hover {
    color: #13CAD2;
}

.main-menu ul li a {
    color: #fff!important;
    font-weight: 500;
}

.default-square-btn {
    background-color: #13cad2;
    padding: 14px 30px;
    font-weight: 500;
    border: 2px solid #13cad2;
    color: #fff!important;
    font-family: poppins!important
}

.default-square-btn:hover {
    transition: .3s;
    box-shadow: 2px 10px 25px rgb(30 30 31 / 23%);
    border: 2px solid #13cad2;
    background: #091636!important
}

.white-square-btn {
    background-color: #091636;
    padding: 14px 30px;
    font-weight: 500;
    border: 2px solid #fff !important;
    color: #fff !important;
    font-family: poppins !important;
}

.white-square-btn:hover {
    transition: .3s;
    box-shadow: 2px 10px 25px rgb(30 30 31 / 23%);
    border: 2px solid #13cad2;
    background: #13cad2 !important
}

.dark-blue-bg,
.fixed-top {
    background-color: #091636;
}

.owl-item,
.item {
    border-radius: 10px !important;
}

.scalable-solutions-bg {
    z-index: 10;
    overflow: hidden;
}

.white-image-bg::before {
    content: '';
    position: absolute;
    background: url('../img/cyan-sqaure.png');
    background-size: 35%;
    top: 18%;
    right: -15%;
    z-index: 100 !important;
    width: 25% !important;
    height: 25% !important;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-animation: rotating 2s linear infinite;
}

.white-image-bg::after {
    content: '';
    position: absolute;
    background: url('../img/orange-sphere.png');
    background-size: 50%;
    top: 30%;
    right: -18%;
    width: 25% !important;
    height: 25% !important;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-animation: rotating 2s linear infinite;
}

.owl-industries {
    position: relative;
}

.owl-industries::after {
    content: '';
    position: absolute;
    background: url('../img/orange-pentagon.png');
    background-size: 45%;
    top: -12%;
    left: -5%;
    width: 25% !important;
    height: 25% !important;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-animation: rotating 2s linear infinite;
}

.foster-section {
    position: relative;
    overflow: hidden;
}

.foster-section::after {
    content: '';
    position: absolute;
    background: url('../img/orange-pentagon.png');
    background-size: 40%;
    bottom: -10%;
    right: -18%;
    width: 25% !important;
    height: 25% !important;
    z-index: 1000;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-animation: rotating 2s linear infinite;
}

.foster-section::before {
    content: '';
    position: absolute;
    background: url('../img/orange-sphere.png');
    background-size: 40%;
    top: -8%;
    left: -5%;
    width: 25% !important;
    height: 25% !important;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0px);
    }
}