p {
    font-size: 18px !important;
}

body,
small {
    font-family: 'Poppins' !important;
    color: #333 !important;
    font-weight: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gilroy' !important;
    color: #091636 !important;
    line-height: 1.1 !important;
    font-weight: 600 !important;
}

body.modal-open {
    padding-right: 0 !important;
}

body {
    padding-right: 0px !important;
}

#exampleModal {
    scrollbar-width: none;
}

#navbar_top {
    padding-right: 0 !important;
}

a {
    text-decoration: none;
}

 ::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #13CAD2;
}

 ::selection {
    color: #fff;
    background: #13CAD2;
}

.small-font {
    font-size: 16px !important;
}

.section-padding {
    padding: 80px 0px;
}

* {
    padding: 0%;
    margin: 0%;
}


/* Header css starts here*/


/* top-header */

.nav-link-size {
    font-size: 16px;
    font-weight: 600;
}

.top-header ul li a {
    background: #fff;
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 1px 2px;
}

.top-header ul li a:hover i {
    color: #13cad2;
}

.services-detail-header {
    z-index: 1;
    position: relative;
}

.services-detail-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(9, 22, 54, 0.7);
    opacity: 1;
}


/* Main-header*/

.menuhvr {
    display: inline-block;
    position: relative;
}

.menuhvr:before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 3px;
    display: inline-block;
    bottom: 0;
    left: 0;
    background-color: #13cad2;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.arrow-icon:before {
    position: absolute;
}

.arrow-icon {
    position: relative;
    top: 50px;
    z-index: 90;
}

.nav-link {
    display: block;
    padding: 1rem 0rem !important;
}

.nav-link-icon {
    display: block;
    padding: 1.5rem;
}

.menuhvr:hover::before {
    color: #13cad2;
    transform: scale(1);
    transform-origin: bottom left;
}


/* ---------------------- */


/* ----------------- */


/* Main-header*/

li.nav-item.active-menu a::before {
    transform: scale(1);
    transform-origin: bottom left;
}

.text-dark-blue {
    color: #091636;
}

.main-menu ul li a {
    color: #333 !important;
    font-weight: 500;
}

.main-menu>ul>li {
    margin-right: 35px;
}

.main-menu ul li:nth-last-child(1) {
    margin-right: 0;
}

.dropdown-toggle::after {
    vertical-align: 0;
    transform: translateY(-50%);
    top: 50%;
}

.navbar.bg-white {
    padding-top: 15px;
    transition: 0.3s all ease;
}

.fixed-top.navbar.bg-white {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Header css ends here*/

.green-badge {
    background-color: #ffdf0075;
    box-shadow: none;
    padding: 6px 16px;
    border: 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600 !important;
    border-radius: 30px;
}

.border-round {
    border-radius: 10px !important;
}

.default-btn {
    background-color: #13cad2;
    padding: 14px 30px 14px 30px;
    border-radius: 50px;
    font-weight: 500;
    border: 2px solid #13cad2;
    color: #fff !important;
    font-family: 'poppins' !important;
}

.default-btn:hover {
    transition: all 0.3s ease;
    box-shadow: 2px 10px 25px rgb(30 30 31 / 23%);
    border: 2px solid #13cad2;
    background: #091636 !important;
}

.white-btn {
    padding: 14px 35px 14px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-family: 'Poppins';
    letter-spacing: 1px;
    color: #333;
    border: 1px solid #333;
}

.white-btn:hover {
    transition: all 0.3s ease;
    background: #091636 !important;
    border: 1px solid #13cad2;
    color: #fff !important;
    box-shadow: 2px 10px 25px rgb(30 30 31 / 23%);
}

.orange-btn {
    background: linear-gradient(145deg, #ffc556, #ff8947);
    padding: 14px 30px 14px 30px;
    border-radius: 50px;
    font-weight: 500;
    color: #fff !important;
    font-family: 'poppins' !important;
    border: none;
}

.orange-btn:hover {
    transition: all 0.5s ease;
    background: linear-gradient(145deg, #ff8947, #ffc556);
    color: #fff !important;
}

.popup-white-btn {
    padding: 14px 35px 14px 35px;
    border-radius: 50px;
    background-color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    border: 1px solid #333;
}

.popup-white-btn:hover {
    background-color: #13cad2;
    border: 1px solid #13cad2;
    color: #fff !important;
    box-shadow: 2px 10px 25px rgb(30 30 31 / 23%);
}

.newsletter-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .07);
}

.form-button {
    background-color: #13cad2;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.form-button:hover {
    box-shadow: 2px 10px 25px rgb(30 30 31 / 23%);
    background-color: #13cad2 !important;
}

.blue-form-button {
    background-color: #2188E3;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.blue-form-button:hover {
    box-shadow: 2px 10px 25px rgb(30 30 31 / 23%);
    background-color: #2188E3 !important;
}

.light-green-btn {
    background-color: #d3f5f6;
    border-radius: 10px;
    color: #24ccdd;
    box-shadow: none;
    border: 0;
}

.light-green-btn:hover {
    color: #24ccdd;
}

.newsletter-purple-btn {
    background-color: #2188e3;
    border-radius: 50px;
    color: #fff;
}

.newsletter-purple-btn:hover {
    color: #fff;
}

.newsletter-text {
    color: #333;
}

.scalable-solutions-bg {
    /* background-color: #091636; */
    background-image: url('../img/ad-Bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #9faac6;
}

.blue-background {
    background-color: #091636 !important;
}

.blue-solution-card-section {
    color: #fff !important;
    background-image: url('../img/dark-blue-image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-solution-card {
    background-color: #122045;
    border-radius: 10px;
    color: #9faac6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.blue-solution-card:hover {
    background-image: linear-gradient(50deg, rgb(25, 130, 228) 0%, rgb(19, 216, 226) 100%);
    color: #fff !important;
}

.blue-solution-card:hover i {
    color: #fff !important;
}

.blue-gradient-border {
    border: 1px solid rgba(16, 253, 253, 0.959) !important;
}

.blue-gradient-border:hover {
    border: 1px solid #13CAD2;
}

.blue-gradient-border::after {
    background: #13CAD2 !important;
}

.blue-card.card {
    background: #122045;
    border-radius: 10px;
    color: #9faac6;
    transition: 0.3s all ease-in-out !important;
}

.blue-card.card:hover {
    background: #13cad2;
    color: #fff;
}

.blue-card i {
    color: #9faac6;
    transition: 0.3s all ease-in-out !important;
}

.blue-card:hover i {
    color: #fff;
}

.blue-card:hover .how-card-icon {
    background-color: #fff;
    color: #13cad2;
}

.solutions-bg-image {
    padding: 12% 0;
    color: white;
    z-index: 9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
    background-image: url(../../assets/img/solution-bg-image.jpg);
}

.solution-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #0F1C3C;
    opacity: 0.8;
    top: 0;
}

.solutions-bg-image>.container {
    z-index: 10;
}

.newsletter-section {
    box-shadow: 0 10px 38px 0 rgb(0 0 0 / 10%) !important;
    -webkit-box-shadow: 0 10px 38px 0 rgb(0 0 0 / 10%);
    z-index: 5;
    position: relative;
    margin-bottom: -165px;
    border-radius: 10px;
}

.blue-text,
.blue-link {
    color: #2188e3;
    text-decoration: none;
}

.blue-link:hover {
    color: #2188e3;
}

.footer-links {
    color: #9faac6;
}

.footer-links:hover {
    color: #9faac6;
}


/* On hover Green effect */

span.counter.display-6.fw-bold.lh-md.text-center {
    position: relative;
    padding: 5px;
    z-index: 0;
}

span.counter.display-6.fw-bold.lh-md.text-center::after {
    content: '';
    display: block;
    background-color: #b1e8ff;
    height: 25%;
    bottom: 8px;
    width: 100%;
    left: 0;
    z-index: -1;
    position: absolute;
}

span.counter.display-6.fw-bold.lh-md.text-center:hover::after {
    height: 80%;
    transition: ease-in-out 0.5s;
}

span.vision-green {
    position: relative;
    z-index: 1;
}

span.vision-green::after {
    content: '';
    display: block;
    bottom: 0px;
    width: 100%;
    height: 20%;
    z-index: -1;
    background-color: #d3fff8;
    position: absolute;
}

span.vision-green:hover::after {
    content: '';
    display: block;
    background-color: #d3fff8;
    height: 90%;
    width: 100%;
    z-index: -1;
    transition: ease-in-out 0.5s;
    position: absolute;
}


/* On hover Green effect ends here */


/* Gradient Cards*/

.industries-card {
    position: relative;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    border: none !important;
    transition: transform 0.2s ease;
}

.industries-card .card-title {
    letter-spacing: 1px;
}

.owl-industries .owl-carousel .owl-stage-outer {
    padding: 50px 0px 80px 0px;
}

.owl-carousel .owl-stage-outer .client-carousel-padding {
    padding: 0px 0px;
}

.owl-carousel-testimonials .owl-stage-outer {
    padding: 0px 0px !important;
}

.owl-carousel .owl-carousel-counter {
    padding: 0px 0px !important;
}

.owl-caraousel .owl-item:hover {
    z-index: 999;
}

.testimonial-btn {
    z-index: 5;
    position: absolute;
    transform: translate(150px, -80px);
}

.owl-industries .owl-item:hover {
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
    z-index: 999;
    -webkit-box-shadow: 0px 10px 36px 2px rgb(0 0 0 / 39%);
    -moz-box-shadow: 0px 10px 36px 2px rgb(0 0 0 / 39%);
    box-shadow: 0px 10px 36px 2px rgb(0 0 0 / 39%);
}

.owl-industries .owl-item {
    transition: 0.5s all ease-in-out;
}

.industries-card:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}

.card-body.text-start {
    font-size: 18px;
    line-height: 1.6;
    position: relative;
    z-index: 2;
}

.bg-color-cards {
    background-color: #091020;
}

.industry_hover {
    display: none;
}

.card-img-overlay:hover .industry_hover {
    display: block;
    border-radius: 10px;
}

.card-icons {
    background-color: #1a2953;
    padding: 20px;
    border-radius: 10px;
    color: #9faac6;
    line-height: 1.4 !important;
    text-align: center;
    font-size: 60px;
}

.industry-imgbox {
    margin: auto;
    overflow: hidden;
    border: none !important;
}

.industry-imgbox img {
    max-width: 100%;
    transition: ease-in-out 0.8s;
    display: block;
    width: 100%;
    height: auto;
}

.industry-imgbox::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    display: block;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #212121bd 100%);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
}

.industry-imgbox:hover::before {
    opacity: 0;
}

.industry-imgbox::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #12c7d0 100%);
    transition: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
    opacity: 0;
}

.industry-imgbox:hover::after {
    opacity: 1;
}

.text-box {
    z-index: 5;
}

.form-bg-color {
    background-color: #f2fcfd;
    position: relative;
    z-index: 99;
}

.form-image {
    margin-top: -140px;
    z-index: 99;
    position: relative;
}

.main-form-image {
    margin-top: -100px;
    z-index: 99;
    position: relative;
}

.carousel-effect {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.carousel-effect:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.footer-zindex {
    position: relative;
    z-index: 99;
}

footer ul li a {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

footer:nth-last-child(1) a {
    text-decoration: none;
}

.footer-links,
.footer-links:hover {
    position: relative;
    color: #9faac6;
}

.footer-links:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 1px;
    left: 0;
    background: #13CAD2;
    transition: width .25s ease-in;
    -webkit-transition: width .25s ease-in;
}

.footer-links:hover:after {
    width: 100%;
    left: 0;
    color: #13CAD2;
}

.owl-carousel-testimonials .nav-button {
    font-size: 25px;
    padding: 10px 16px;
    background-color: #eaf0f0;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.testimonials-clean {
    padding-bottom: 80px;
}

.testimonials-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

.testimonials-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.testimonials-clean .intro p {
    margin-bottom: 0;
}

.testimonials-clean .item {
    margin-bottom: 32px;
}

.testimonials-clean .item .box {
    padding: 30px;
    color: white;
    border-radius: 8px;
    background-color: #091636;
    position: relative;
}

.testimonials-clean .item .box:after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #091636;
}

.testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 10px;
}

.testimonials-clean .item .author img {
    margin-right: 7px;
    max-width: 50px;
    max-height: 50px;
}

.testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
}

.testimonials-clean .item .title {
    font-size: 14px !important;
    font-weight: 400;
    color: #2188e3;
}

.testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.testimonials-clean .item img {
    max-width: 50px;
    min-width: 50px;
    border-radius: 50%;
    float: left;
}

.owl-carousel-padding {
    padding: 0px !important;
}

.modal-edges {
    border-radius: 10px !important;
}


/*---------------------------------Media Queries---------------------------------*/


/*login media queries*/

@media only screen and (max-width: 1024px) {
    .form-image {
        margin: 0;
        width: 100% !important;
    }
    .main-menu>ul>li {
        margin-right: 25px;
    }
    .newsletter-section {
        margin-bottom: -165px;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-icon {
        font-size: 60px !important;
    }
    .testimonial-icon {
        font-size: 40px !important;
    }
    .navbar-expand .navbar-toggler {
        display: contents;
    }
    .navbar-expand .navbar-collapse {
        display: none !important;
        position: absolute;
        top: 70px;
        background: #fff;
        width: 100%;
        box-shadow: 0px 5px 5px 0px rgb(202 202 202 / 40%);
    }
    .navbar-expand .navbar-collapse.show {
        display: block !important;
    }
    .navbar-expand .navbar-collapse ul.navbar-nav {
        display: block;
    }
    .navbar-expand .navbar-collapse ul.navbar-nav li {
        text-align: center;
        margin-right: 0;
    }
    span.counter.d-block.display-6.fw-bold.lh-md.text-center::after {
        content: '';
        display: block;
        background-color: #defcfc;
        height: 25%;
        width: 100%;
        z-index: -1;
        transform: translateY(-13px);
        position: absolute;
    }
    span.counter.d-block.display-6.fw-bold.lh-md.text-center:hover::after {
        content: '';
        display: block;
        background-color: #defcfc;
        height: 70%;
        width: 100%;
        z-index: -1;
        transition: ease-in-out 0.5s;
        transform: translateY(-25px);
        position: absolute;
    }
    .testimonial-btn {
        position: relative;
        top: 0;
        transform: translate(0px, 0px);
        margin: 0 auto 40px;
        display: table;
    }
    .owl-carousel-testimonials .owl-dots,
    .owl-carousel-testimonials .owl-nav {
        display: none;
    }
    .default-btn {
        padding: 8px 20px 8px 20px;
    }
    .white-btn {
        padding: 8px 20px 8px 20px;
    }
    .solutions {
        background: rgb(130, 166, 255) !important;
        background: linear-gradient(180deg, rgba(130, 166, 255, 0.3) 0%, rgba(130, 166, 255, 0.08) 100%) !important;
    }
    .nav-link {
        display: inline-block !important;
        font-size: 16px !important;
    }
    .nav-link .dropdown {
        display: block !important;
        margin: 0 auto;
        text-align: center;
    }
    .main-menu ul li:nth-last-child(1) {
        padding: 16px 0px !important;
    }
    .newsletter-section {
        margin-bottom: -190px;
    }
    .testimonials-clean .item .name {
        font-weight: bold;
        margin-bottom: 4px;
        color: inherit;
    }
    .testimonials-clean .item .author {
        margin-top: 28px;
        padding-left: 10px;
    }
    .testimonials-clean .item .author img {
        margin-right: 7px;
    }
    .owl-industries .owl-carousel .owl-stage-outer {
        padding: 50px 0px 50px 0px;
    }
}


/* About CSS */

.hover-effect:hover span.about-after-lines::after {
    width: 100%;
    right: auto;
    left: 0;
}

.about-after-lines {
    position: relative;
    height: 2px;
    display: block;
    margin: 10px 0;
    background-color: #cdcdcd;
}

span.about-after-lines::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    background-color: #13cad2;
    z-index: 11;
    right: 0;
    left: auto;
    transition: all 0.3s linear;
}

.section {
    padding: 80px 0px;
}

.about-vision-card {
    right: 0;
    margin-bottom: -125px;
    margin-top: 125px;
}

.bg-image {
    background-image: url("../img/about.png");
}

.our-mission-bg {
    background-image: url("../img/our-mission.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-vision-bg {
    background-image: url("../img/our-vision.png");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.about-vision-bg {
    background-image: url("../img/our-vision.png");
    background-position: bottom right 30px;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
}

.about-blue-card {
    background: linear-gradient(238deg, rgba(34, 134, 228, 1) 0%, rgba(18, 199, 210, 1) 100%);
    color: #fff !important;
    margin-top: -125px;
}

.our-team-bg {
    background-image: url("../img/our-team-bg.png");
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 80%;
    background-repeat: no-repeat;
}

span.counter.d-block.display-4.fw-bold.lh-md.text-center {
    position: relative;
    z-index: 0;
}

span.counter.d-block.display-4.fw-bold.lh-md.text-center::after {
    content: '';
    display: block;
    background-color: #defcfc;
    height: 25%;
    width: 100%;
    z-index: -1;
    transform: translateY(-24px);
    position: absolute;
}

span.counter.d-block.display-4.fw-bold.lh-md.text-center:hover::after {
    content: '';
    display: block;
    background-color: #defcfc;
    height: 80%;
    width: 100%;
    z-index: -1;
    transition: ease-in-out 0.5s;
    transform: translateY(-60px);
    position: absolute;
}

.modal-backdrop.fade.show {
    opacity: 0;
    z-index: 8;
}

div.modal.fade::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007c;
    z-index: -1;
}

.green-text {
    color: #13cad2 !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.contact-image-box {
    position: relative;
    overflow: hidden;
}

.contact-image-box .overlay {
    z-index: 1;
    opacity: 1;
    background: rgba(16, 120, 165, 0.2);
}

.contact-image-box:hover .overlay {
    background: transparent;
}

.contact-image-box h4 {
    color: #fff !important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 26px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-image-box img {
    filter: grayscale(90%);
}

.contact-image-box:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    z-index: 1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #2188E3;
}

.contact-image-box:hover img {
    filter: none;
}

.contact-image-box:hover .overlay {
    background: transparent;
}

.about-leader-card {
    border-radius: 10px !important;
}

.about-contact {
    background-image: url('../../assets/img/about-contact-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.white-about-btn {
    padding: 14px 30px 14px 30px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid #fff;
}

.white-about-btn:hover {
    border: 1px solid #13cad2;
    background-color: #13cad2
}

.card .card-body .img-2 {
    display: none;
}

.card .card-body:hover .img-1 {
    display: none;
}

.card .card-body:hover .img-2 {
    display: block;
}

.custom-number-icon span {
    border-radius: 50%;
    background-color: #fff;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*---------------------------------Media Queries---------------------------------*/


/*login media queries*/

@media only screen and (max-width: 1024px) {
    .about-vision-card {
        margin-top: 0px;
    }
    .about-vision-bg {
        background: none;
    }
    .our-team-bg {
        background-size: cover;
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .modal-backdrop.fade.show {
        opacity: 0.5;
        z-index: 8;
    }
    div.modal.fade::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000007c;
    }
    span.counter.d-block.display-4.fw-bold.lh-md.text-center::after {
        content: '';
        display: block;
        background-color: #defcfc;
        height: 30%;
        width: 100%;
        z-index: -1;
        transform: translateY(-10px);
        position: absolute;
    }
    span.counter.d-block.display-4.fw-bold.lh-md.text-center::after {
        content: '';
        display: block;
        background-color: #defcfc;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: ease-in-out 0.5s;
        transform: translateY(-35px);
        position: absolute;
    }
}


/* Solutions CSS */

.blue-bg-solutions {
    background-color: #122045;
    color: #9faac6;
}

.learn-more-btn,
.learn-more-btn:hover {
    color: #42befe;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}


/* Tech CSS */

.tech-critical-bg {
    background-image: url("../img/technology-bg.jpg");
}

.ylw-badge {
    background-color: #ffe025;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600 !important;
}

a {
    text-decoration: none;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.tech-box {
    background-color: #091636;
    border: 1px solid rgba(255, 255, 255, .3);
}


/* critical current problems boxes */

.critical-icons i {
    color: #43baff;
}

.tech-box:hover {
    background: #43baff;
    border: 1px solid #43baff;
}

.tech-box:hover i {
    color: white !important;
}


/* Solutions Cards */

.solutions {
    /* background-image: url('../img/white-pattern.png'); */
    background-image: url('../img/ad-bg-img-2-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.solutions .card:hover i {
    color: #13CAD2;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.solutions .card i {
    color: #333;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    font-size: 80px;
}

.solutions .card p {
    font-weight: normal;
    color: #333;
    font-size: 18px;
    font-family: 'Gilroy';
}

.solutions .card:hover {
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    z-index: 999;
}

.job-box.blue-side-mark {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.job-box {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.job-box.blue-side-mark:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.job-box.blue-side-mark:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -15px;
    right: -15px;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #2188E3;
}

.job-box.blue-side-mark:hover:after {
    opacity: 1;
    width: 30px;
    height: 30px;
}

.job-box.blue-side-mark:hover {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    box-shadow: 0 10px 38px 0 rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 10px 38px 0 rgb(0 0 0 / 10%);
}

.job-box.blue-side-circle {
    position: relative;
    overflow: hidden;
    border: none !important;
    border-radius: 10px;
}

.job-box.dark-blue-side-circle {
    position: relative;
    overflow: hidden;
    border: none !important;
    border-radius: 10px;
}

.job-box {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.job-box.blue-side-circle::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -125px;
    right: -125px;
    z-index: 1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #13CAD2;
}

.job-box.dark-blue-side-circle::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -125px;
    right: -125px;
    z-index: 1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #2188e3;
}

.job-box.dark-blue-side-circle::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -75px;
    right: -75px;
    z-index: 1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #2188e3;
}

.job-box.blue-side-circle::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -75px;
    right: -75px;
    z-index: 1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #13CAD2;
}

.job-box.blue-side-circle::before {
    opacity: 0.17;
    width: 225px;
    height: 225px;
    border-radius: 70%;
}

.job-box.dark-blue-side-circle::before {
    opacity: 0.17;
    width: 225px;
    height: 225px;
    border-radius: 70%;
}

.job-box.blue-side-circle::after {
    opacity: 0.3;
    width: 140px;
    height: 140px;
    border-radius: 70%;
}

.job-box.dark-blue-side-circle::after {
    opacity: 0.3;
    width: 140px;
    height: 140px;
    border-radius: 70%;
}

.job-box.blue-side-circle:hover {
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    border: none !important;
    -webkit-box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
}

.job-box.dark-blue-side-circle:hover {
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    border: none !important;
    -webkit-box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
}


/* .projects-grid
================================================== */

.industry-project-slider {
    position: relative;
}

.industry-project-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pf_5_cols .industry-project-item {
    width: 20%;
}

.pf_4_cols .industry-project-item {
    width: 25%;
}

.pf_2_cols .industry-project-item {
    width: 50%;
}

.projects-style-1 .carousel-box {
    position: relative;
    overflow: hidden;
}

.projects-style-1 .carousel-box .portfolio-info {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(12, 41, 53, 0.5);
    opacity: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.projects-style-1 .carousel-box .portfolio-info .overlay {
    opacity: 1;
    background: transparent;
    z-index: 0;
}

.projects-style-1 .carousel-box .portfolio-info .portfolio-info-inner {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    padding: 30px 40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.projects-style-1 .carousel-box .portfolio-info h5 {
    font-size: 24px;
}

.projects-style-1 .carousel-box .portfolio-info .portfolio-cates {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.projects-style-1 .carousel-box .portfolio-info .portfolio-cates span {
    margin-left: 4px;
    margin-right: 4px;
}

.projects-style-1 .carousel-box .portfolio-info .portfolio-cates span:last-child {
    display: none;
}

.projects-style-1 .carousel-box:hover .portfolio-info {
    opacity: 1;
}

.projects-style-1 .carousel-box .carousel-box-thumb {
    overflow: hidden;
}

.carousel-box:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: grayscale(90%);
}

.carousel-sections .carousel-box {
    position: relative;
    overflow: hidden;
}

.carousel-sections .carousel-box .portfolio-info {
    min-width: 310px;
    width: calc(100% - 60px);
    margin: auto;
    position: absolute;
    bottom: -50px;
    left: 50%;
    text-align: center;
    background: #091636;
    padding: 26px 30px 18px;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.carousel-sections .carousel-box .portfolio-info .portfolio-cates {
    color: #aeaacb;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.carousel-sections .carousel-box .portfolio-info .portfolio-cates a {
    color: #aeaacb;
}

.carousel-sections .carousel-box .portfolio-info .portfolio-cates span {
    margin-left: 4px;
    margin-right: 4px;
}

.carousel-sections .carousel-box .portfolio-info .portfolio-cates span:last-child {
    display: none;
}

.carousel-sections .carousel-box .portfolio-info.full-width {
    width: 100%;
    transform: none;
    left: 0;
}

.carousel-sections .carousel-box:hover .portfolio-info {
    bottom: 0;
    opacity: 1;
}

.carousel-sections .carousel-box .carousel-box-thumb {
    overflow: hidden;
}

.carousel-sections .carousel-box .carousel-box-thumb .overlay {
    background: rgba(12, 41, 53, 0.5);
    opacity: 0;
    z-index: 0;
}

.carousel-sections .carousel-box img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.carousel-sections .carousel-box:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


/**** Project Carousel ****/

.industry-project-slider .carousel-box {
    overflow: visible;
    margin-bottom: 50px;
}

.industry-project-slider .carousel-box .portfolio-info {
    opacity: 1;
    z-index: 1;
    text-align: left;
    width: calc(100% - 70px);
    padding-top: 28px;
    padding-bottom: 20px;
    overflow: hidden;
}

.industry-project-slider .carousel-box .portfolio-info h5 {
    font-size: 22px;
}

.industry-project-slider .carousel-box .portfolio-info.full-width {
    width: 100%;
    transform: none;
    left: 0;
}

.industry-project-slider .carousel-box .portfolio-info .btn-link {
    position: absolute;
    right: -64px;
    top: -70px;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.industry-project-slider .carousel-box .portfolio-info .btn-link i {
    position: absolute;
    bottom: 45px;
    left: 50px;
    line-height: 1;
    color: #43baff;
}

.industry-project-slider .carousel-box .portfolio-info .btn-link i:before {
    font-size: 18px;
}

.industry-project-slider .carousel-box .carousel-box-thumb {
    overflow: hidden;
}

.industry-project-slider .carousel-box .carousel-box-thumb .overlay {
    background: rgba(12, 41, 53, 0.5);
    opacity: 0;
    z-index: 0;
    border-radius: 10px !important;
}

.industry-project-slider .carousel-box:hover .portfolio-info {
    bottom: -50px;
}

.industry-project-slider .carousel-box:hover .portfolio-info .btn-link {
    background: #43baffce;
}

.industry-project-slider .carousel-box:hover .portfolio-info .btn-link i {
    color: #fff;
}

.industry-project-slider .carousel-box:hover .carousel-box-thumb img {
    filter: grayscale(90%);
}

.industry-project-slider .carousel-box:hover .carousel-box-thumb .overlay {
    opacity: 1;
}

.industry-project-slider .slick-arrow {
    left: 15px;
    height: 65px;
    width: 50px;
    background: #fff;
}

.industry-project-slider .slick-arrow.next-nav {
    left: auto;
    right: 15px;
}

.industry-project-slider .slick-arrow:hover {
    background: #43baff;
    color: #fff;
}

.no-border:focus {
    color: #212529;
    outline: 0;
    box-shadow: none;
}


/* ----------------drag-drop---------------------- */

.file-drop-area {
    position: relative;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    transition: 0.2s
}

.choose-file-button {
    display: none;
}

.file-message {
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0
}


/* ------------custom-checkbox---------- */

.custom-control.material-checkbox {
    --color: #2188e3;
}

.contact-cards:hover .icon-main {
    color: #13cad2;
}

h2.contact-aftr-line span {
    position: relative;
}

.contact-page-bg .scalable-solutions-bg a {
    color: #fff;
}

.contact-page-bg .scalable-solutions-bg {
    background-image: linear-gradient(50deg, #122045 0%, #1a2953 100%);
    color: #fff !important;
}

.contact-page-bg .rounded-contact-card {
    border-radius: 10px;
    z-index: 10;
    box-shadow: 2px 10px 25px 10px rgb(30 30 31 / 40%);
}

.rounded-contact-card .form-control::placeholder {
    color: #fff !important;
}

.contact-icon {
    font-size: 30px;
}


/* Industries Page Caraosuel CSS ends Here */


/* Industries Page Caraosuel CSS ends Here */


/* Contact CSS */

.contact-cards:hover .icon-main {
    color: #13cad2;
}

h2.contact-aftr-line span {
    position: relative;
}

.contact-page-bg .scalable-solutions-bg a {
    color: #fff;
}

.contact-page-bg .scalable-solutions-bg {
    background-image: linear-gradient(50deg, #122045 0%, #1a2953 100%);
    color: #fff !important;
}

.contact-page-bg .rounded-contact-card {
    border-radius: 10px;
    box-shadow: 2px 10px 25px 10px rgb(255 255 255 / 4%);
}

.contact-icon {
    font-size: 30px;
}

.contact-form::before {
    position: absolute;
}

.contact-form .rounded-contact-card {
    background: #122045;
    position: relative;
}

.contact-form .rounded-contact-card input,
.contact-form .rounded-contact-card textarea {
    background-color: #1A2953;
    color: #fff !important;
    border: none;
}

.contact-bg {
    background-image: url(../img/white-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.scalable-circle {
    position: relative;
}


/* Start */


/* .circle-text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 40%;
    min-height: 50%;
    background-color: #13cad2;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 50%;
} */


/* .text-button-1,
.text-button-2,
.text-button-3,
.text-button-4 {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    cursor: pointer;
}

.text-button-1 p,
.text-button-2 p,
.text-button-3 p,
.text-button-4 p {
    margin: 0px;
}

.text-button-1 {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.text-button-2 {
    top: 0;
    right: 0;
    left: 0;
    display: inline-block;
    text-align: center;
}

.text-button-3 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.text-button-4 {
    bottom: 0;
    right: 0;
    left: 0;
    display: inline-block;
    text-align: center;
}

.dots {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
} */

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(3, 3);
        opacity: 0;
    }
}


/* 
.circle-text-content.text-card-1,
.text-button-1 .dots .circle,
.text-button-1 .dots {
    background-color: #13CAD2;
}

.circle-text-content.text-card-2,
.text-button-2 .dots .circle,
.text-button-2 .dots {
    background-color: #4AA0F9;
}

.circle-text-content.text-card-3,
.text-button-3 .dots .circle,
.text-button-3 .dots {
    background-color: #EFCF4A;
}

.circle-text-content.text-card-4,
.text-button-4 .dots .circle,
.text-button-4 .dots {
    background-color: #FF944A;
}

.text-button-2 .dots,
.text-button-4 .dots {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.text-button-1 .dots {
    margin-right: 25px;
}

.text-button-2 .dots {
    margin-bottom: 25px;
}

.text-button-3 .dots {
    margin-left: 25px;
}

.text-button-4 .dots {
    margin-top: 25px;
} */

section.section.scroll-sec.blue-background.text-white {
    display: flex;
    overflow-x: scroll;
    margin: 0 auto;
    scrollbar-width: none;
}

.scroll-sec::-webkit-scrollbar {
    display: none;
}


/* end */

.fostering-info {
    min-width: 16rem !important;
}

.fostering-cards {
    width: 90%;
    margin: 0 auto;
}


/* start */

.card-bg-bl .card {
    background: #fff0;
}

.card-bg-dbl .card {
    background: #fff0;
}

.card-bg-bl h4,
.card-bg-bl p,
.card-bg-dbl h4,
.card-bg-dbl p {
    color: #fff !important;
}

.bg-after-before {
    position: relative;
    z-index: 1;
}

.bg-after-before::after,
.bg-after-before::before {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.bg-after-before::after {
    background: #17c7d0;
    right: 0;
}

.bg-after-before::before {
    background: #091636;
    left: 0;
}


/* end */

.hire-team-custom-number-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -35px;
    margin-left: -35px;
    margin-bottom: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-image: -webkit-linear-gradient(145deg, #17c7d0, #23f4ff);
    background-image: linear-gradient(145deg, #17c7d0, #23f4ff);
    box-shadow: 10px 10px 30px 0 #23f4ff7e;
    -webkit-box-shadow: 10px 10px 30px 0 #23f4ff7e;
    transition: 0.3s all ease-in-out !important;
}

.hire-team-card {
    border-radius: 10px;
}

.hire-team-card:hover {
    border: 2px solid #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: 0.3s all ease-in-out !important;
    transition: 0.3s all ease-in-out !important;
    box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
    -webkit-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
}

.hire-team-border {
    border: 2px dashed #e8e8e8;
}

.hire-team-features-right div:nth-child(even) .card,
.hire-team-features-left div:nth-child(odd) .card {
    right: -25px;
}

.hire-team-features-right div:nth-child(odd) .card,
.hire-team-features-left div:nth-child(even) .card {
    right: 25px;
}

.bb-5 {
    border-bottom: 5px solid black;
}

.footer-box {
    padding: 0px 5px;
    margin-left: 5px;
    font-size: 25px;
    background-color: #122045;
}

.footer-box:hover {
    color: white !important;
}

.footer-box a {
    color: #9FAAC6;
}

.footer-box:hover a {
    color: #13CAD2;
}

.teams-icon:before {
    position: absolute;
}

.teams-icon {
    position: relative;
    font-size: 40px;
    top: 50px;
    right: 3rem;
    z-index: 90;
}

.card-numbers {
    color: #e7e7e7;
    font-size: 5rem;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
    z-index: 1;
    opacity: 0.3;
    font-weight: 700;
    font-family: 'Gilroy' !important;
}

.card-numbers-title {
    z-index: 2;
    position: relative;
}

.job-box:hover .card-numbers {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    color: #9CE9ED;
    opacity: 0.8;
}

.light-font-color {
    color: #9faac6;
    text-align: left !important;
}

.modal-open {
    overflow: scroll !important;
    overflow-x: hidden !important;
}

.fix-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

section.blue-background.fix-section.sticky {
    position: sticky;
}

.scroll-div {
    position: absolute;
    top: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.dedicated-team-header {
    background-image: url('../img/dedicated-remote-team.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 0px;
    position: relative;
}

.managed-team-header {
    background-image: url('../img/managed-team.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 0px;
    position: relative;
}

.dedicated-team-header>.container,
.managed-team-header>.container {
    position: relative;
    z-index: 9;
}

.teams-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0F1C3C;
    opacity: 0.8;
    top: 0;
}

.custom-card-height {
    height: 395px;
}

.foster-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 0px;
    position: relative;
}

.customer-header {
    background-image: url('../../assets/img/customer-centricity.png');
}

.operational-header {
    background-image: url('../../assets/img/Fortify-Operational-Excellence.png');
}

.soar-header {
    background-image: url('../../assets/img/soar-enterprise-egility.png');
}

.brand-header {
    background-image: url('../../assets/img/brand-positioning.png');
}

.foster-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0F1C3C;
    opacity: 0.8;
    top: 0;
}

.foster-header>.container {
    z-index: 10;
    position: relative;
}